<!DOCTYPE html>
<!-- gaiax_login.html -->
<html>

<head>
    {% include 'head.html' %}

</head>

<body id="page-top">
    <div id="wrapper">
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">

                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible fade show m-0" role="alert">
                    <span>{{ message }}</span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                    {% endfor %}
                {% endif %}
                {% endwith %}
            
                       {% include 'gaiax_nav_bar.html' %}

                        <div id="content_desktop"  class="container mt-5 d-none d-sm-block" >
                            <div class="row  justify-content-center ">
                                <div class="m-3">
                                    <center>
                                            <h2>Sign-In to the Gaia-X Talao portal </h2>
                                            <h4>Scan the QR Code bellow with your smartphone wallet or copy the request to your desktop wallet.</h4> 
                                            <h6>You will be asked to present a Gaia-X Pass signed by Talao. If you do not have one in your wallet you will be redirected to the onboarding service.</h6>
                                            <div class="my-4">
                                                <img src="{{ qrcode(url)}}"  width="300" >
                                            </div>
                                            <div class="my-2">
                                                Request
                                            </div>
                                            <textarea cols="100" rows="20">{{url}}</textarea>
                                    </center>
                                </div>
                            </div>
                        </div>


    <div id="content_smartphone" class="d-block d-sm-none">
        <div class="card shadow o-hidden border-0 m-3">
          <img src="/static/img/12.png" class="card-img-top">
          <div class="card-body">
              <div class="text-center">
                  <p class="card-text">
                    <br>Gaia-X Talao portal<br>
                  </p>
                  <a href="{{deeplink}}" class="btn btn-primary">Sign-In</a>
              </div>
          </div>
      </div> 
    </div>


</div>
</div>
</div>

{% include 'footer.html' %}


    <script src="{{ url_for('static', filename='jquery-3.5.1.slim.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>

    <script>
        var source = new EventSource('/gaiax/login_stream');
        source.onmessage = function (event) {
            const result = JSON.parse(event.data);
            if (result.check == 'success' & result.id == '{{id}}'){
                window.location.href="/gaiax/login_followup?id=" + '{{id}}';
            }            
            if (result.check == 'ko' & result.id == '{{id}}'){
                window.location.href="/gaiax/login_followup?id=" + "{{id}}" + "&message=" + result.message ;
            }
        };
 
    </script>
    
</body>
</html>
