<!DOCTYPE html>
<!-- gaiax.html -->
<html>

<head>
    {% include 'head.html' %}
</head>

<body id="page-top" >
    <div id="wrapper">
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content" >
                {% include 'gaiax_nav_bar.html' %}
                <div class="container-fluid mt-5">
                    <div class="text-center">
                        <h4>This web application is an example of a Gaia-X onboarding process for enterprise wallets.<br>
                             It is based on the up-to-date protocols and signature schemes in respect of the W3C and DIF standards.</h4>
                             <br><br>
                    1 - Download the Talao smartphone wallet from the  <a href="https://play.google.com/store/apps/details?id=co.talao.wallet&hl=fr_FR">Google</a> or <a href="https://apps.apple.com/fr/app/talao-wallet/id1582183266#?platform=iphone">Apple</a> store <br>
                    2 - Setup your wallet as an enterprise wallet with the key provided by your company or check the <a href="https://github.com/TalaoDAO/Gaia-X_Talao#test">repository</a> to get our demo key and DID<br>
                    3 - Start your journey : Get a Gaia-X Pass or go directly to the Sign-In page.
                    </div>
                    <div class="row my-5">
            
                        <div class="col mt-4">
                            <div id="id_qrcode" class="text-center">
                                <a href="/gaiax/pass"><img  src="/static/img/9.png"  style="width: 350px;border-radius:0px;"></a>
                                <br><strong>Get a Gaia-X Pass</strong>
                            </div>
                        </div>
                        
                        <div class="col mt-4">
                            <div id="id_qrcode" class="text-center">
                                <a href="/gaiax/login"><img  src="/static/img/12.png"  style="width: 300px;border-radius:0px;"></a>
                                <br><strong>Sign-In to the Gaia-X Talao portal</strong>
                            </div>
                        </div>
                       
                        
                        <div class="col mt-4">
                            <div id="id_qrcode" class="text-center">
                                <a href="/wallet/test/display_VP"><img  src="/static/img/15.png"  style="width: 350px;border-radius:0px;"></a>
                                <br><strong>Display your credential</strong>
                            </div>
                            
                        </div>
                    </div>
                    <div class="row my-5">
                        
                      
                       
                       
                    </div>
                    
                   

                </div>
            </div>
        </div>
    </div>
                                {% include 'footer.html' %}

    <script src="{{ url_for('static', filename='jquery-3.5.1.slim.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>

    <script>
        function goBack() {
          window.history.back();
        }
    </script>

</body>

</html>
